### Import libraries

In [2]:
import pandas as pd
import numpy as np

### Data analysis

In [3]:
df = pd.read_csv('spacex_dataset_1.csv')
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,6,2010-06-04,Falcon 9,0.0,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,8,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,10,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,11,2013-09-29,Falcon 9,500.0,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,12,2013-12-03,Falcon 9,3170.0,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857

In [4]:
df.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass        0
Orbit              0
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

Calculate the number of launches on each site

In [5]:
df['LaunchSite'].value_counts()

LaunchSite
CCSFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

Calculate he number and ocurrence of each orbit

In [6]:
orbit = df['Orbit'].value_counts()

Calculate the number and ocurrence of mission outcome of the orbits

In [7]:
landing_outcomes = df['Outcome'].value_counts()

In [8]:
bad_outcomes = []

for i, outcome in  enumerate(landing_outcomes.keys()):
    idx = outcome.find('False')
    if idx != -1:
        bad_outcomes.append(outcome[idx:])

bad_outcomes

['False ASDS', 'False Ocean', 'False RTLS']

In [9]:
df['Class'] = df['Outcome'].apply(lambda x: int(not(x in bad_outcomes)))

In [10]:
df['Class'].head()

0    1
1    1
2    1
3    0
4    1
Name: Class, dtype: int64

In [11]:
df['Class'].value_counts()

Class
1    81
0     9
Name: count, dtype: int64

In [15]:
df.groupby('LaunchSite')['Class'].mean()

LaunchSite
CCSFS SLC 40    0.890909
KSC LC 39A      0.954545
VAFB SLC 4E     0.846154
Name: Class, dtype: float64

In [13]:
df['Class'].mean()

0.9

In [14]:
df.to_csv('launch_dataset_2.csv', index=False)